/* Author: Matthias Krijgsman */

@font-face {
    font-family: Ubuntu-Regular;
    src: url(../font/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Ubuntu-Light;
    src: url(../font/Ubuntu-Light.ttf);
}
@font-face {
    font-family: Ubuntu-Bold;
    src: url(../font/Ubuntu-Bold.ttf);
}

html, body{
    display: block;
    font-family: Ubuntu-Regular;
    font-size: 16px;
    margin: 0;
    background-color: #bdc3c7;
}

body.login-wallpaper{
    background-image: url('../img/wallpaper.png');
    background-position: center;
}

div.login-container{
    background-color: #fff;
    width: 600px;
    position: absolute;
    top: 0;
    left: -600px;
    bottom: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -webkit-transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -ms-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;
}

ul.login-elements{
    list-style: none;
    margin: 100px auto 0 auto;
    width: 300px;
    padding: 0;
}

ul.login-elements > li{
    width: 100%;
    margin-top: 20px;
}

ul.login-elements > li > input{
    border: 1px solid black;
    border-radius: 3px;
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

ul.login-elements li button{
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    padding: 10px 40px;
    margin: auto;
    display: block;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
ul.login-elements a{
    text-decoration: none;
}

ul.login-elements > li > button:hover{
    background-color: #2a75a7;
}

div.login-warning{
    border: 1px solid #c0392b;
    background-color: #e74c3c;
    color: #fff;
    font-family: Ubuntu-Regular;
    font-size: 12px;
    padding: 10px;
}
li.logo{
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: #3498db;
    padding-bottom: 20px;
}
li.logo > label{
    font-family: Ubuntu-Light;
    color: #474747;
}

div.dashboard-container{
    max-width: 1128px;
    width: 1128px;
    margin: auto;
}

div.card{
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    display: inline-block;

}

div.card-small {
    max-width: 210px;
    width: 210px;
    max-height: 121px;
    min-height: 81px;
}

div.card-medium {
    max-width: 460px;
    width: 460px;
    min-height: 81px;
}

div.card-large {
    max-width: 1048px;
    width: 1048px;
}

div.card > div.card-title{
    color: #7f8c8d;
    width: 100%;
    font-size: 14px;
}
label.server-status{
    float: right;
    margin-top: 30px;
    font-family: Ubuntu-Bold;
}
img.server-icon{
    float: left;
    margin: 15px 15px 0px 20px;
    max-width: 50px;
}

label.server-on{
    color: #2ecc71;
}

label.server-off{
    color: #e74c3c;
}

div.waterstand-container{
    float: left;
    margin-top: 20px;
    color: #bdc3c7;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

div.waterstand-container > label{
    font-size: 16px;
}

div.waterstand-container > label#waterstand{
    font-size: 35px;
    color: #3498db;
    margin-left: 20px;
}

div.card.buienradar{
    height: auto;
    min-height: 540px;
    max-height: 540px;
}

img.weerrapport-single{
    height: 300px;
    width: 300px;
}

ul.weerrapport-menu{
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    float: left;
    width: 100%;
}

ul.weerrapport-menu > li:first-child{
    border-top: none !important;
}

ul.weerrapport-menu > li{
    border-top: 1px solid #e5f0f9;
    padding: 12px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

ul.weerrapport-menu > li:hover{
    background-color: #ecf0f1;
}

ul.weerrapport-menu > li.active{
    background-color: #e5f0f9;
    color: #01689b;
}

div.weerrapport-container{
    margin-top: 20px;
    position: relative;
    float: left;
}

div.weerrapport-container > .single-tab{
    position: absolute;
    display: none;
}
div.weerrapport-container > .single-tab.active{
    display: block;
}

div.weerrapport-container > .single-tab > img{
    max-width: 460px;
}

ul.informatie-lijst{
    float: left;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 14px;
    width: 100%;
}

ul.informatie-lijst > li{
    width: 100%;
    margin-top: 10px;
}

ul.informatie-lijst > li > div.informatie-status{
    text-align: center;
    width: calc(100% - 20px);
    padding: 10px;
    font-family: Ubuntu-Bold;
    background-color: #e5f0f9;
    color: #01689b;
}

div.button-close-open{
    border-radius: 5px;
    background-color: #e74c3c;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    user-select: none;
}

div.button-close-open:hover{
    background-color: #c0392b;
}

div.button-close-open:active{
    background-color: #8d2c21;
}
a.informatie-uitloggen{
    text-decoration: none;
    font-family: Ubuntu-Bold;
    color: #2a75a7;
    text-align: center;
    width: 100%;
}
a.informatie-uitloggen > i{
    margin-left: 10px;
}
.text-center{
    text-align: center;
}

div.button-disabled{
    background-color: #bdc3c7;
    color: #7f8c8d;
    cursor: default;
}